<form method="post">
    <div class="deleteSignature">
        <div id="links">
            <img src="{{image}}" />
        </div>
        {{#if notSigners}}
            <div id="signature">
                <canvas id="canvas" width="520" height="120"></canvas>
            </div>
        {{/if}}
        <div id="but">
            <button type="submit" id="submit" name="yes">yes</button>
            <button type="submit" id="submit" name="no">no</button>
        </div>
    </div>
</form>