<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/style.css" />
    </head>
    <body>
        <main>
            {{! this block holds the content from the single template }}
            {{{body}}}
        </main>
        <footer>
            <div id="footerText">
                &copy; Funky Chicken, Inc.
                {{year}}
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="public/canvas.js"></script>
        <script src="public/menu.js"></script>
    </body>
</html>