<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <main>
            <h1>{{subtitle}}</h1>
            {{{body}}}
        </main>
        <footer>
            <div id="footerText">
                &copy; Funky Chicken, Inc.
                {{year}}
            </div>
        </footer>
        <script src="script.js"></script>
    </body>
</html>