<head>
    <link rel="stylesheet" href="/public/delete.css" />
</head>
<img class="delete" src="/public/assets/bild2.png" />

<form method="post">
    <div class="contains">
        <div class="updateP">
            <p >Are you sure to delete your signature?</p>
        </div>
        <div class="updateim">
            {{> deleteUrl image=image}}
        </div>
    </div>
</form>