<img class="bild1" src="public/assets/bild1.png" />
<p id="anfang">
    This petition aims to vote a law that will allow every worker to have at
    least one day per month to work at home. If you agree, sign this petition
    and share this link.
</p>
{{#if error}}
    <p id="err">Something went wrong! Please try again.</p>
{{/if}}
<div class="part">
    <form method="post">
        <div class="login">
            <input
                type="text"
                name="email"
                placeholder="Email Adresse*"
                pattern=".{7,}"
                required="required"
                title="7 characters minimum"
            />
            {{#if nichtgueltigEmail}}
                <p class="er">no valid email</p>
            {{/if}}

            <input
                type="password"
                name="password"
                placeholder="Password*"
                required="required"
            />
            <button type="submit" id="submit">Log In</button>
        </div>
    </form>
    <p id="right">If you are not a member, please
        <a href="/register">register</a>
    </p>
</div>