<form method="post">
    <div class="petition">
        <p> Sign our petition to make ...</p>
        <!-- <img src="/public/assets/blumen.jpeg" alt="startImage" /> -->
        <input type="text" id="fname" value="First Name" /><br /><br />
        <input type="text" id="lname" value="Last Name" /><br /><br />
        <div id="signature">
            <canvas id="canvas" width="520" height="120"></canvas>
            <p>Sign Here</p>
        </div>
        <div class="imageCanvas">
            <input type="hidden" />
        </div>
        <button type="submit" id="submit">Submit</button>
    </div>
</form>