<img class="bild1" src="public/assets/bild1.png" />
<p id="anfang">In spite of the current situation some companies are running very
    well, thanks to the fact that the employees work from home. This petition
    aims to vote a law that will allow every worker to have at least one day per
    month to work at home. If you agree, sign this petition and share this link.
</p>
<form method="post">
    <div class="petition">
        <div id="signature">
            <canvas id="canvas" width="520" height="120"></canvas>
            <p>Sign Here</p>
        </div>
        <form method="get">
            <div class="imageCanvas">
                <input type="hidden" name="signature" />
            </div>
        </form>
        <button type="submit" id="submit">Submit</button>
    </div>
</form>