<head>
    <link rel="stylesheet" href="/public/profile.css" />
</head>
<form method="post">
    <div class="profile">
        <p>Please tell us just a little about yourself</p>
        {{#if error}}
            <p class="er">Oups, something went wrong! Please try again.</p>
        {{/if}}
        <input
            type="text"
            name="age"
            placeholder="Age"
            value="{{profile.age}}"
        />
        {{#if nichtgueltigNaN}}
            <p class="er">no valid age</p>
        {{/if}}
        <input
            type="text"
            name="city"
            placeholder="City"
            value="{{profile.city}}"
        />
        <input
            type="text"
            name="url"
            placeholder="Homepage"
            value="{{profile.url}}"
        />
        {{#if nichtgueltigUrl}}
            <p class="er">no valid homepage</p>
        {{/if}}
        <button type="submit" id="submit">continue</button>
    </div>
</form>