<head>
    <link rel="stylesheet" href="/public/error.css" />
</head>
<form method="post">
    <div id="error">
        <h1>:(</h1>
        <h3>Internal Server Error</h3>
        <p>while trying to load <a href="{{link}}">{{link}}</a></p>
        <div id="but">
            <button type="submit" name="goBack">Go Back</button>
            <button type="submit" name="{{link}}">Try Again</button>
        </div>
    </div>
</form>