<div class="part">
    <div id="thanks">
        <p>Thanks for your petition!😀😀</p>
        <img src="{{image}}" />
        <a href="/signers">See all {{count}} Signers</a>
        <a href="/profile/edit">Edit your profile</a>
        <a href="/petition/delete">Delete your signature</a>
    </div>
    <div class="bild2">
        <img src="public/assets/bild2.png" />
    </div>
</div>