<button>
    <a href="../{{text}}">{{text}}</a>
</button>
<!-- Partial nest plus trop utile car jai effacer bewetung.handlebars. on peut directement inserer les
                lignes 1-3 a description.handlebars. -->