body {
    height: 100vh;
}
#decription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.allProject button {
    height: auto;
    width: 100px;
    left: 50px;
    display: block;
    margin: 30px;
}
.allProject button a {
    text-decoration: none;
    color: black;
}
#pr {
    margin-top: 10px;
    margin-bottom: 50px;
}
.aktuelProject {
    width: 600px;
    height: 550px;
    border: 3px solid black;
    background-color: wheat;
    text-align: center;
    position: relative;
    top: 20px;
    left: 100px;
}
.aktuelProject img {
    margin-top: 0px;
    width: 550px;
    height: 400px;
    border: 2px solid;
}
.aktuelProject h1 {
    margin-top: 0;
    margin-bottom: 5px;
}
.aktuelProject p {
    text-align: left;
}
.aktuelProject a {
    margin: 20px;
}

footer {
    margin-top: 85px;
}
