#thanks {
    height: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 10%;
}
#left {
    margin-left: -10%;
}
#right {
    margin-left: 5%;
}
#left p {
    font-size: 35px;
    margin-left: -7px;
}
#left img {
    border: 2px solid black;
    background-color: rgb(255, 187, 0);
    width: 70%;
    height: 50%;
}
#right #menu {
    height: 60px;
    margin-top: -35px;
}
#overlay {
    position: fixed;
    left: 70%;
    top: 20%;
    right: 0;
    bottom: 0;
    visibility: hidden;
}
#overlay.on {
    visibility: visible;
    display: flex;
    flex-direction: column;
    margin-bottom: 22%;
    width: 24%;
    height: 74%;
    margin-top: -1%;
    border-radius: 7%;
    background-color: rgb(255, 187, 0);
}
#overlay.on a {
    background-color: rgb(255, 187, 0);
    margin: 10px;
}
